# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [2]:
crime = pd.read_csv('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Crime_Rates_1960_2014.csv')

### Step 4. What is the type of the columns?

In [3]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [4]:
crime['Year'] = pd.to_datetime(crime['Year'], format='%Y')

### Step 6. Set the Year column as the index of the dataframe

In [5]:
crime = crime.set_index('Year')

### Step 7. Delete the Total column

In [6]:
crime = crime.drop('Total', axis=1)

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [7]:
crime_decade = crime.groupby([(crime.index.year//10)*10]).sum()

### Step 9. What is the most dangerous decade to live in the US?

In [8]:
dangerous_decade = crime_decade['Violent'].idxmax()
print(f"Thập kỷ nguy hiểm nhất ở Mỹ là: {dangerous_decade}s")

Thập kỷ nguy hiểm nhất ở Mỹ là: 1990s